<h1><%= @user.id ? @user.first_name : "Add New User"%></h1>

<%= form_for @user do |user|%>

  <%= user.label :first_name %>
  <%= user.text_field :first_name %>

  <%= user.label :last_name %>
  <%= user.text_field :last_name %>

  <%= user.label :age %>
  <%= user.text_field :age %>

  <%= user.label :hair_color %>
  <%= user.text_field :hair_color %>

  <%= user.label :eye_color %>
  <%= user.text_field :eye_color %>

  <%= user.label :gender %>
  <%= user.text_field :gender %>

  <%= user.label :alive %>
  <%= user.text_field :alive %>

  <%= user.submit %>

<% end %>