<h1><%= @user.first_name %> <%= @user.last_name %></h1>
  
  <h3>Age: <%= @user.age %></h3>

  <h3>Hair Color: <%= @user.hair_color %></h3>

  <h3>Eye Color: <%= @user.eye_color %></h3>

  <h3>Gender: <%= @user.gender %></h3>

  <h3>Alive: <%= @user.alive %></h3>

<%= link_to 'Back', users_path %>